@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #72C6EF;

    --background: 209, 0%, 0%;
    --foreground: 212 8% 98.45%;

    --muted: 212 8% 28.29%;
    --muted-foreground: 212 8% 56.9%;

    --popover: 212 29% 6.8999999999999995%;
    --popover-foreground: 212 8% 98.45%;

    --card: 209, 0%, 10%;
    --card-foreground: 212 8% 98.45%;

    --border: 209, 0%, 10%;
    --input: 212 8% 28.29%;

    --primary: 212 80% 69%;
    --primary-foreground: 212 8% 6.8999999999999995%;

    --secondary: 212 8% 28.29%;
    --secondary-foreground: 212 8% 98.45%;

    --accent: 212 8% 28.29%;
    --accent-foreground: 212 8% 98.45%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 212 8% 98.45%;

    --ring: 212 80% 69%;
  }
}

  /*:root {*/
  /*  --background: 0 0% 100%;*/
  /*  --foreground: 240 10% 3.9%;*/

  /*  --muted: 240 4.8% 95.9%;*/
  /*  --muted-foreground: 240 3.8% 46.1%;*/

  /*  --popover: 0 0% 100%;*/
  /*  --popover-foreground: 240 10% 3.9%;*/

  /*  --card: 0 0% 100%;*/
  /*  --card-foreground: 240 10% 3.9%;*/

  /*  --border: 240 5.9% 90%;*/
  /*  --input: 240 5.9% 90%;*/

  /*  --primary: 240 5.9% 10%;*/
  /*  --primary-foreground: 0 0% 98%;*/

  /*  --secondary: 240 4.8% 95.9%;*/
  /*  --secondary-foreground: 240 5.9% 10%;*/

  /*  --accent: 240 4.8% 95.9%;*/
  /*  --accent-foreground: ;*/

  /*  --destructive: 0 84.2% 60.2%;*/
  /*  --destructive-foreground: 0 0% 98%;*/

  /*  --ring: 240 5% 64.9%;*/

  /*  --radius: 0.5rem;*/
  /*}*/

  /*.dark {*/
  /*  --background: 240 10% 3.9%;*/
  /*  --foreground: 0 0% 98%;*/

  /*  --muted: 240 3.7% 15.9%;*/
  /*  --muted-foreground: 240 5% 64.9%;*/

  /*  --popover: 240 10% 3.9%;*/
  /*  --popover-foreground: 0 0% 98%;*/

  /*  --card: 240 10% 3.9%;*/
  /*  --card-foreground: 0 0% 98%;*/

  /*  --border: 240 3.7% 15.9%;*/
  /*  --input: 240 3.7% 15.9%;*/

  /*  --primary: 0 0% 98%;*/
  /*  --primary-foreground: 240 5.9% 10%;*/

  /*  --secondary: 240 3.7% 15.9%;*/
  /*  --secondary-foreground: 0 0% 98%;*/

  /*  --accent: 240 3.7% 15.9%;*/
  /*  --accent-foreground: ;*/

  /*  --destructive: 0 62.8% 30.6%;*/
  /*  --destructive-foreground: 0 85.7% 97.3%;*/

  /*  --ring: 240 3.7% 15.9%;*/
  /*}*/


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.blue-link {
  color: blue;
  text-decoration: underline;
}